body {
	width: 100%;
	height: 100;
}
#FilterRestaurant {
	display: flex;
	margin: 2% 25%;
	justify-content: space-evenly;
}
#filter-button:active {
	/* color: black; */
	font-family: 'Helvetica Neue Bold';
}
