#sign-in-page {
	width: 100%;
}

#sign-in-container {
	margin: 3% 33%;
	box-shadow: 2px 4px 10px 0px #afafaf40;
	font-family: 'Helvetica Neue Thin';
	padding-top: 20px;
}
#sign-in-title {
	text-align: center;
	font-size: 18px;
	font-weight: 200;
	letter-spacing: 1.97px;
}
#sign-in {
	font-size: 24px;
	font-weight: 200;
	margin-bottom: 15px;
}
#user-information {
	display: flex;
	flex-direction: column;
	margin: 6% 22%;
}
#input-information {
	all: unset;
	margin-bottom: 21px;
	border-bottom: black solid 0.1px;
}
#login-button {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	margin: 0 30%;
}
#button-login:hover {
	background-color: #979797;
}
#button-login {
	background-color: #000000;
	color: white;
	font-weight: 600;
	height: 38px;
	width: 100%;
	margin-bottom: 20px;
	letter-spacing: 2.6700000762939453px;
}
#forget-password-button {
	font-weight: 600;
	width: 100%;
	letter-spacing: 2.6700000762939453px;
}
#or-container {
	display: flex;
	justify-content: space-around;
	margin-top: 10%;
}
.hr-left {
	position: absolute;
	width: 9%;
	margin-left: 13%;
	border: 0.5px solid #979797;
}
.hr-right {
	position: absolute;
	width: 9%;
	margin-right: 13%;
	border: 0.5px solid #979797;
}
#or-letter {
	color: #979797;
}
#sign-up-button {
	background-color: white;
	color: black;
	text-align: cetner;
	margin: 10% 33%;
	padding: 3% 7% 3% 7%;
	border: 1px solid #000000;
	letter-spacing: 2.6700000762939453px;
}
