/* .body-hero {
	position: relative;
} */
#hero {
	width: 100%;
	background-image: url(./hero-image/hero-background.svg);
	background-size: cover;
	height: 600px;
	background-repeat: no-repeat;
<<<<<<< Updated upstream
	position: relative;
=======
	display: flex;
>>>>>>> Stashed changes
}
#heroBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 36px, 126px, 36px, 126px;
	gap: 18px;
<<<<<<< Updated upstream
	position: absolute;
=======
>>>>>>> Stashed changes
	width: 50%;
	height: 350px;
	background: rgba(255, 255, 255, 0.88);
	margin-left: 25%;
	margin-top: 100px;
}
#heroTitle {
	font-style: normal;
	font-weight: 200;
	font-size: 32px;
	line-height: 40px;
	letter-spacing: 1.97px;
	text-align: center;
	margin: 2% 25% 1% 25%;
}
#inputHero {
	background-image: url(../NavBar/imageNavBar/searchLogo.svg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: auto;
	width: 60%;
	border: 0.5px solid #000000;
	border-radius: 4px;
	background-color: transparent;
	height: 48px;
	padding-left: 54px;
<<<<<<< Updated upstream
	font-family: 'Helvetica Neue Thin';
	background-position: 5px;
}
=======
	font-family: "Helvetica Neue Thin";
	background-position: 5px;
}
@media only screen and (max-width: 690px) {
	#heroTitle{
		font-size: 24px;
		margin: 2% 10% 1% 10%;
	}
	#heroBox{
		width: 82%;
		height: 310px;
		margin-left: 11%;
	}
}
>>>>>>> Stashed changes
