#AboutUsPage {
	width: 100%;
	height: 40%;
	display: flex;
	top: 53%;
	background: #fafafa;
}
#aboutuscontainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 60%;
	margin: 0px 50px 50px 50px;
}
.app {
	width: 120px;
}
#AppleStore {
	margin-right: 10px;
}
#titleAboutUs {
	font-weight: 200;
	font-size: 25px;
	line-height: 35px;
	margin-top: 35px;
	padding-bottom: 20px;
}
#aboutParagraph {
	font-size: 20px;
	font-weight: 200;
	line-height: 30px;
	letter-spacing: 2.140000104904175px;
	text-align: left;
}
#AboutusLogo {
	margin: 100px 0 100px 100px;
}

#application{
	margin-top: 24px;
}
@media only screen and (max-width: 690px) {
	#AboutUsPage{
		flex-direction: column-reverse;
	}
	#aboutuscontainer{
		flex-direction: column-reverse;
	}
	.app{
		margin-bottom: 8%;
		width: 120px;
	}
	#AboutusLogo{
		margin: 50px 0 36px 43px;
	}
	#application{
		display: flex;
		flex-direction: column;
	}
	.about-us-logo{
		width: 130px;
	}
}

