.description {
	font-size: 20px;
	overflow: scroll;
}
#titlecard-dish {
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 40px;
	letter-spacing: 1.97px;
	padding: 4% 14%;
	width: 100%;
	padding: 4% 35%;
}
.dish-img {
	margin: 6px;
	width: 15%;
	grid-row-start: 3;
	grid-row-end: 4;
	margin-top: 20px;
}

.dish-name {
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 47px;
	letter-spacing: 0.67px;
	color: #000000;
	grid-row-start: 1;
	grid-row-end: 2;
	font-family: 'Helvetica Neue Light';
}

#price-container {
	display: flex;
	justify-content: space-around;
	margin-top: 10%;
	grid-row-start: 4;
	grid-row-end: 5;
}
#hr-left {
	position: absolute;
	width: 8%;
	margin-left: 12%;
	border: 0.5px solid #979797;
}
#hr-right {
	position: absolute;
	transform: rotate;
	width: 8%;
	margin-right: 12%;
	border: 0.5px solid #979797;
}
#price-with-icon {
	display: flex;
	width: 20%;
	flex-direction: row;
	justify-content: space-evenly;
}

#icon-price {
	width: 10px;
	height: 17px;
}
.dishTypes {
	grid-row-start: 2;
	grid-row-end: 3;
	width: 100%;
}
body {
	width: 100%;
	height: 100%;
}
#dishes-card {
	justify-content: space-evenly;
	display: flex;
	padding-top: 4%;
	gap: 24px;
	padding: 4% 14%;
}
.dish-card-element {
	width: 100%;
	height: 100%;
	background: #f9f4ea;
}
#card-dish-information {
	margin: 0% 6%;
	text-align: center;
	padding: 10px 0 10px 0;
	display: grid;
	grid-template-rows: repeat(4, 70px);
}
/* width */
::-webkit-scrollbar {
	width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: transparent;
}

@media only screen and (max-width: 690px) {
	hr {
		display: none;
	}
	.description {
		font-size: 14px;
	}
	#titlecard-dish {
		font-size: 20px;
		/* margin-left: 16%; */
	}
	.dish-card-element {
		width: 220px;
	}
	#card-dish-information {
		margin: 0% 6%;
		text-align: start;
		padding: 0;
		grid-template-rows: repeat(4, 60px);
	}

	#allthecard {
		overflow: scroll;
		display: flex;
		gap: 40px;
		margin-left: 25px;
	}
	.dish-name {
		font-size: 14px;
		letter-spacing: 0.67px;
		height: 20px;
	}
	.dishTypes {
		grid-row-start: 3;
		grid-row-end: 4;
	}
	.dish-img {
		width: 12%;
	}
	#price-container {
		display: block;
		font-weight: 600;
		margin-top: 22px;
	}
	#dishes-card {
		padding: 0;
	}
}
