#your-order {
	width: 385px;
	height: 630px;
	position: absolute;
	margin-top: 50px;
	background: #ffffff;
	box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25),
		2px 4px 10px rgba(175, 175, 175, 0.25);
}
#order-card {
	margin: 16% 8%;
	height: 500px;
}
#closeOrder {
	color: #aaaaaa;
	float: left;
	margin: 10px 20px;
	font-size: 16px;
	position: absolute;
	font-weight: bold;
}
#title-order {
	margin: 20px 20px 5px 20px;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	text-align: center;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	font-family: 'Helvetica Neue light';
}
#rest-order-name {
	font-weight: 200;
	font-size: 15px;
	line-height: 20px;
	margin: 10% 40%;
	width: 20%;
}
#add-comment {
	font-weight: 600;
	font-size: 15px;
	margin: 0 72px 20px 75px;
	line-height: 18px;
}
#comment-and-buttons-container {
	display: flex;
	flex-direction: column;
}
#comment-input {
	width: 100%;
	height: 130px;
	padding: 0px 0 100px 0;
	font-size: 15px;
}
#check-out {
	background-color: #000000;
	color: white;
	font-weight: 600;
	text-align: center;
	margin: 10% 18% 2%;
	padding: 3% 7% 3% 7%;
	width: 49%;
	letter-spacing: 2.6700000762939453px;
}
#history-order {
	background-color: white;
	color: black;
	margin: 2% 18%;
	text-align: center;
	padding: 3% 7% 3% 7%;
	border: 1px solid #000000;
	letter-spacing: 2.6700000762939453px;
}
