* {
	box-sizing: border-box;
}
.body {
	height: 100%;
	width: 100%;
}

#iconSearch,
#icon {
	width: 25px;
	margin-left: 10%;
}
#logoImage {
	margin-left: 70px;
	margin-right: 35px;
	display: inline-flex;
	padding: 10px;
}

#navbar {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-between;
	/* border-bottom: 3px solid; */
	padding: 20px;
	position: sticky;
	top: 0;
    background: white;
}
.navbarleft {
	display: flex;
	/* width: 60%; */
}
.navbarright {
	display: flex;
	justify-content: flex-end;
	max-width: 500px;
	min-width: 150px;
	position: relative;
}
#allTheButton {
	display: flex;
	margin-top: 15px;
}
#restaurantButton {
	margin-right: 10px;
}
.button {
	height: 22px;
	border: 0;
	background-color: white;
	font-size: 18px;
	letter-spacing: 1.92px;
	margin-left: 10%;
	line-height: 22px;
	font-family: 'Helvetica Neue Light';
	font-weight: 200;
}
.button:hover {
	border-bottom: 4px solid #e19d1a;
}

#titleLogo {
	width: 122px;
}

#icons-NavBar {
	border-radius: 5px;
	width: 100px;
	margin-right: 20px;
	display: flex;
	/* margin-left: 38%; */
	justify-content: space-between;
}

.search-box {
	position: relative;
	width: 410px;
	height: 41px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: -7px;
}
.search-btn {
	position: absolute;
	right: 15px;
	margin-top: 16px;
}
.search-text {
	position: absolute;
	font-family: 'Helvetica Neue Light';
	font-weight: 200;
	font-size: 18px;
	border-radius: 4px;
	border: none;
	width: 0px;
	height: 22px;
	transition: all 1.5s ease;
	right: 0;
}
.show {
	border: 0.5px solid #000000;
	width: 300px;
	margin-top: 35%;
	height: 45px;
	padding: 6px 12px;
}
button {
	all: unset;
	cursor: pointer;
}

/* navlink */

.on-page {
	border-bottom: 1.8px solid rgba(222, 146, 0, 0.9);
	cursor: pointer;
	text-decoration: none;
	color: #000000;
}
.not-on-page {
	all: unset;
	cursor: pointer;
}
.mobile-nav,
.mobile-logo,
.mobile-nav .menu {
	display: none;
}

@media only screen and (max-width: 690px) {
	.navbarleft {
		display: none;
	}
	.mobile-nav,
	.mobile-nav .menu {
		display: flex;
	}
	.mobile-logo {
		display: flex;
		margin-left: 14%;
	}
	.navbar {
		padding: 0 25px;
	}
	#navbar {
		border-bottom: 0;
	}
	.show{
		width: 100px;
	}
	.search-text{
		font-size: 13px;
	}
}
