#footerPage {
	width: 100%;
	padding-top: 20px;
	height: 70px;
	display: flex;
	flex-direction: row;
	position: fixd;
	bottom: 0;
	margin-top: 83px;
	justify-content: center;
	gap: 50px;
	font-weight: 200;
	background: #fafafa;
}
