<<<<<<< Updated upstream
#restaurants-card {
	display: flex;
	padding: 110px 22px;
}

#chefs-restaurant {
	margin-right: 14px;
	width: 20%;
	background-color: #f9f4ea;
	height: 350px;
}
.restaurant-Img {
=======
body {
	width: 100%;
	height: 100%;
}
#restaurants-card {
	display: flex;
	padding: 40px 22px;
} 
#chef-of-the-week{
	width: 100vw;
}
#information{
	width: 100%;
}
#chefs-restaurant-card{
	margin-right: 14px;
	height: 270px;
    width: 200px;
	background-color: #f9f4ea;

}
#restaurant-Img {
>>>>>>> Stashed changes
	width: 100%;
	object-fit: contain;
}
#restaurant-name {
<<<<<<< Updated upstream
	font-family: 'Helvetica Neue Light';
	font-size: 24px;
=======
	font-family: "Helvetica Neue Light";
	font-size: 20px;
>>>>>>> Stashed changes
	font-weight: 600;
	line-height: 45px;
	letter-spacing: 2.6700000762939453px;
	text-align: center;
	margin-top: 5px;
}
<<<<<<< Updated upstream
/* #chef-image {
	width: 100%;
} */
.img-chef {
	width: 400px;
	padding-left: 22px;
=======
#img-chef {
	width: 400px;
    height: 100%;
    padding-left: 22px;
>>>>>>> Stashed changes
}
#titlechef {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 40px;
	letter-spacing: 1.97px;
	margin-left: 40%;
	padding: 5% 0 3% 0;
}
<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes
#chefs-restaurants {
	width: 100%;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 40px;
	letter-spacing: 1.97px;
	padding: 125px 22px 0 22px;
}
<<<<<<< Updated upstream
.chef-name {
	display: none;
}
#chef-information {
	width: 50%;
	margin-left: 45%;
	margin-top: -250px;
	font-size: 24px;
	font-weight: 200;
	line-height: 35px;
	letter-spacing: 1.25px;
}
=======


#chef-information{
    width: 100%;
    font-size: 24px;
    font-weight: 200;
    line-height: 35px;
    margin: 40px 214px 50px 160px;
	letter-spacing: 1.25px;
}
#chefName {
    position: absolute;
    font-family: 'Helvetica Neue Medium';
	width: 400px;
    height: 63px;
    margin-top: 275px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 22px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 2.6700000762939453px;
    text-align: center;
} 

#chef-image{
	display: flex;
}

@media only screen and (max-width: 690px) {
	#chef-image{
	
    flex-direction: column;
	}
	#img-chef{
		width: 100%;
		
	}
	#chefName{
		margin-top: 73%;
		width: 100%;
	}
	#titlechef{
		margin-left: 27%;
	}
	#chef-information{
		margin: 0;
		padding: 25px 0 0 25px;
	}
	#restaurants-card{
		padding: 0;
	}
	#chefs-restaurant-card{
	    width: 273px;
    height: 280px;
	}
	}
>>>>>>> Stashed changes
