#restaurants-card-Modal {
	position: fixed;
	padding-top: 30px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.content {
	margin: auto;
	width: 400px;
	height: 90%;
	background: #f9f4ea;
}

.content .dish-card-element {
	height: 65%;
}
#card-dish-information-modal {
	margin: 0% 30%;
	text-align: center;
	display: grid;
	grid-template-rows: repeat(5, 35px);
}
#card-dish-information-modal .dish-name {
	font-size: 14px;
	margin-bottom: 10px;
}
#card-dish-information-modal .dishTypes {
	grid-row-start: 3;
	grid-row-end: 4;
}
#card-dish-information-modal .description {
	font-size: 13px;
	overflow: inherit;
}
#card-dish-information-modal #hr-left {
	width: 5%;
	margin-left: 10%;
}
#card-dish-information-modal #hr-right {
	width: 5%;
	margin-right: 10%;
}
.modalTitle {
	text-align: center;
	color: hsl(214, 47%, 23%);
	font-size: 24px;
}
.content img {
	object-fit: contain;
}

.close {
	color: #aaaaaa;
	float: left;
	font-size: 28px;
	position: absolute;
	font-weight: bold;
	margin-left: 20px;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.bag-information {
	font-size: 14px;
	justify-content: space-between;
	flex-direction: column;
	display: flex;
	margin: 0% 33%;
	height: 36%;
}
.highlight {
	border-bottom: 1px solid rgba(222, 146, 0, 0.9);
	text-align: center;
	width: auto;
	margin-bottom: 8px;
}
#Quantity {
	display: flex;
	justify-content: space-around;
}
#symbol {
	font-size: 20px;
}
#add-to-bag {
	background-color: black;
	color: white;
	text-align: center;
	width: 100%;
	padding: 4%;
	font-size: 11px;
	margin-top: 50px;
}
@media only screen and (max-width: 690px) {
	#card-dish-information-modal #price-with-icon {
		padding-left: 50%;
	}
	.content {
		width: 80%;
	}
}
